html, body{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    align-content: center ;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

    .wrapper > div{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }

.test--container{
    height: 1fr;
    width: 1ft;
}

.modal{
    /* display: none; */
    margin-top: 650px;
    z-index: 1;
    position: fixed;
    height: 250px;
    width: 250px;
    border: 1px solid red;
}

.modal-content{
    background-color: white;   
}